@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Sanchez:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Sanchez", serif;
}
body{
  background-image: url(images/bg.jpg);
  background-size: contain;
  background-repeat: repeat;
}
.intro{
    position: relative;
    width: 100%;
    height: 590px;
    
}
.intro img{
    width: 100%;
    height: 590px;
}
.intro .box{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 25%;
    height: 25%;
    z-index: 2;
    font-family: "Bitcount Grid Single", system-ui;
    text-align: center;
  }
  .intro .box p{
    width: 250px;
    font-size: 30px;
    color: rgb(235, 19, 19);
    font-weight: 600;
  }
  .intro .box button{
    position: absolute;
    top: 70%;
    left: 15%;
    font-family: "Bitcount Grid Single", system-ui;
    background-color: rgb(228, 228, 228);
    color:rgb(235, 19, 19) ;
    padding: 10px;
    font-size:30px;
    border-radius: 15%;
  }
  .intro .box button:hover{
    background-color:rgb(235, 19, 19) ;
    color: rgb(228, 228, 228);
    cursor:pointer;
  }
  .second-intro{
    font-size: 40px;
    font-family: "Sanchez", serif;
    background-size: contain;
  }
  h1{
    color: red;
  }
  .second-intro p{
    text-align: center;
 }
  .second-intro span{
    color: rgb(0, 0, 0);
  }
  .second-intro ul{
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 20px;
  }
  .second-intro li{
    display: inline-block;
    margin: 10px;
  }
  .second-intro .download-android{
    position: relative;
    border-radius: 5%;
    width: 200px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    float: left;
  }
  .second-intro .download-apple{
    position: relative;
    border-radius: 5%;
    width: 200px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    float: left;
    color: white;
  }
.second-intro .fa{
    position: absolute;
    top: 50%;
    left: 40%;
    color: white;
}
a{
    text-decoration: none;
    color: inherit;           
}
.second-intro li span{
    color: white;
}
.leaderboard h1{
text-align: center;}
table{
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
}
th,td{
    border: 1px solid black;
}
th{
    background-color: #f2f2f2;
}

.leaderboard{
    text-align: center;
}
.leaderboard button{
    padding: 10px;
    font-size: 15px;
    font-family: "Sanchez", serif;
    background-color: black;
    color: white;
}
